*{margin:0;padding:0;font-family:"Î¢ÈíÑÅºÚ","Microsoft Yahei"}
 a{outline: none;}
 a:active {star:expression(this.onFocus=this.blur());}
.page_holder{min-width:1000px;}
.wapper{width:1000px;margin:auto;}
.page_top{height:500px;background:#161c3a url('../images/banner_bg.gif') no-repeat;background-position:top center;background-attachment: fixed;}
.top_header{height:88px;line-height:88px;color:#7781ae;font-size:18px;}
.top_nav{float:right;}
.top_nav li{list-style:none;float:left;margin:0 20px;}
.top_nav li .selected{border-bottom:2px solid #7781ae;}
.top_nav a{text-decoration:none;color:#7781ae;padding-bottom:4px;}
.top_nav a:hover{border-bottom:2px solid #7781ae;}
.top_nav a:visited{color:#7781ae;}
.top_title{margin-left:20px;}
.top_logo{position:absolute;width:201px;height:201px;margin-left:399.5px;margin-top:55.5px;}
.top_arrow{position:absolute;margin-left:479px;margin-top:391px;width:42px;height:21px;background:url('../images/banner_arrow.gif') no-repeat;}
.section_region{overflow:hidden;padding-top:50px;padding-bottom:50px;}
.section_title{height:48px;width:968px;margin:auto;}
.section_content{margin:45px 10px;}
.member_region{background-color:#1f264c;}
.member_title{background:url('../images/section_member_title.png') no-repeat;}
.member_tile{transition:background-color 0.6s;-moz-transition:background-color 0.6s;-webkit-transition:background-color 0.6s;-o-transition:background-color 0.6s;float:left;width:246px;height:364px;padding:30px 34px 70px 34px;margin:15px 6px;text-align:center;color:#fff;}
.member_tile:hover{background:#242c56;}
.member_name{margin-top:37px;font-size:22px;}
.member_intro{text-align:left;margin-top:22px;line-height:24px;font-size:14px;min-height:96px;}
.member_line{float:left;height:1px;width:60px;background:#565c76;margin-top:19.5px;}
.member_contact{margin:10px auto 0 auto;width:244px;}
.member_contact_email{transition:opacity 0.2s;-moz-transition:opacity 0.2s;-webkit-transition:opacity 0.2s;-o-transition:opacity 0.2s;margin:0 13px 0 10px;float:left;display:block;background:url('../images/contact_email.png') no-repeat;height:39px;width:39px;}
.member_contact_email:hover{opacity:0.5;}
.member_contact_github{transition:opacity 0.2s;-moz-transition:opacity 0.2s;-webkit-transition:opacity 0.2s;-o-transition:opacity 0.2s;margin:0 10px 0 13px;float:left;display:block;background:url('../images/contact_github.png') no-repeat;height:39px;width:39px;}
.member_contact_github:hover{opacity:0.5;}
.page_footer{background-color:#161c3a;height:132px;}
.page_footer p{text-align:center;font-size:14px;line-height:132px;color:#979fc3;}
.page_dialog{display:none;position:absolute;padding-top:6px;z-index:999;height:28px;background:url('../images/contact_arrow.gif') no-repeat;background-position:top center;}
.dialog_content{background:#515185;border-radius:4px;color:#c7cce3;font-size:12px;line-height:22px;padding:0px 10px;min-width:20px;min-height:20px;}
.go_top{display:none;position:fixed;z-index:998;cursor:pointer;right:20px;bottom:20px;height:64px;width:64px;background:url('../images/go_top.png');}
.go_top:hover{opacity:0.5;}